.address {
  display: flex;
  flex-direction: column;
  gap: 9px;
  &__mail:hover,
  &__mail:focus,
  &__phone:hover,
  &__phone:focus {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
