.contact {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 30px;
  margin-left: 345px;
  &__link {
    display: flex;
    align-items: center;
    &:hover,
    &:focus {
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__icon-envelope,
  &__icon-smartphone {
    margin-right: 10px;
  }
}
