.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transition-property: visibility, opacity;
  transition-duration: 500ms;
  visibility: visible;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  border-radius: 4px;
  z-index: 2;
  &__title {
    padding-top: 40px;
  }
  &__button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
}
