$colors: (
  "main": #212121,
  "light": #fff,
  "dark": #000,
  "primary": #757575,
  "dark-background": #2f303a,
  "light-background": #f5f4fa,
  "overlay-background": #2f303acc,
  "hover": #2196f3,
  "backdrop": #00000033,
  "shadow-button": #00000026,
  "first-shadow": #0000001f,
  "second-shadow": #00000024,
  "shadow-section": #00000040,
  "background-img": #2f303a66,
  "border-input": #21212133,
  "border-button": #0000001a,
  "placeholder": #75757580,
  "links": #afb1b8,
  "border-header": #ececec,
  "contact-footer": #fff9,
  "background-social-links": #ffffff1a,
  "border-input-footer": #ffffff4d,
  "shadow-filters-button": #00000014,
  "shadow": #0000000f,
  "shadow-card": #00000029,
  "overlay-card": #2196f3e6,
  "border-text": #eee,
);
@function getColor($key) {
  @return map-get($colors, $key);
}

$main-font-family: "Roboto", sans-serif;
$logo-font-family: "Raleway";

$font-weights: (
  "extra-bold": 900,
  "bold": 700,
  "accent": 500,
);
@function getFontWeight($key) {
  @return map-get($font-weights, $key);
}

$small-font-size: 12px;
$medium-font-size: 16px;
$large-font-size: 20px;
$heading-font-size: 36px;

$letter-spacing: (
  "s": 0.01em,
  "m": 0.02em,
  "l": 0.03em,
  "xl": 0.06em,
);
@function getLetterSpacing($key) {
  @return map-get($letter-spacing, $key);
}

body {
  font-family: $main-font-family;
  color: getColor("main");
}
.section--img {
  background-color: getColor("dark-background");
  background-image: linear-gradient(
      0deg,
      getColor("background-img"),
      getColor("background-img")
    ),
    url("../images/imgback.jpg");
  border: 1px solid getColor("dark");
  box-shadow: 0px 4px 4px 0px getColor("shadow-section");
}
.section--color {
  background-color: getColor("light-background");
}
.main-heading--style {
  font-weight: getFontWeight("extra-bold");
  font-size: calc(#{$heading-font-size} + 8px);
  line-height: 1.36;
  text-align: center;
  letter-spacing: getLetterSpacing("xl");
  text-transform: uppercase;
  color: getColor("light");
}
.heading--style {
  font-size: $heading-font-size;
  line-height: 1.17;
  text-align: center;
  letter-spacing: getLetterSpacing("l");
}
.button--style {
  font-family: $main-font-family;
  font-weight: getFontWeight("bold");
  font-size: $medium-font-size;
  line-height: 1.88;
  text-align: center;
  letter-spacing: getLetterSpacing("xl");
  color: getColor("light");
  background-color: getColor("hover");
  box-shadow: 0px 4px 4px 0px getColor("shadow-button");
}
.backdrop {
  background-color: getColor("backdrop");
}
.modal {
  background-color: getColor("light");
  box-shadow: 0px 1px 3px getColor("first-shadow"),
    0px 1px 1px getColor("second-shadow"), 0px 2px 1px getColor("backdrop");
  &__title {
    font-weight: getFontWeight("bold");
    font-size: $large-font-size;
    line-height: 1.15;
    text-align: center;
    letter-spacing: getLetterSpacing("l");
  }
  &__button {
    border: 1px solid getColor("border-button");
    background-color: getColor("light");
  }
}
.label {
  font-size: $small-font-size;
  line-height: 1.17;
  letter-spacing: getLetterSpacing("s");
  color: getColor("primary");
}
.input {
  border: 1px solid getColor("border-input");
  &:focus {
    border: 1px solid getColor("hover");
  }
}
.text-area {
  border: 1px solid getColor("border-input");
  &::placeholder {
    font-size: $small-font-size;
    line-height: 1.17;
    letter-spacing: getLetterSpacing("s");
    color: getColor("placeholder");
  }
  &:focus {
    border: 1px solid getColor("hover");
  }
}
.checkbox__text {
  font-size: calc(#{$small-font-size} + 2px);
  line-height: 1.71;
  letter-spacing: getLetterSpacing("l");
  color: getColor("primary");
}
.checkbox__link {
  color: getColor("hover");
}
.form__button {
  font-weight: getFontWeight("bold");
  font-size: $medium-font-size;
  line-height: 1.88;
  text-align: center;
  letter-spacing: getLetterSpacing("xl");
  color: getColor("light");
  background-color: getColor("hover");
  box-shadow: 0px 4px 4px getColor("shadow-button");
}
.list__heading {
  font-size: calc(#{$small-font-size} + 2px);
  line-height: 1.14;
  letter-spacing: getLetterSpacing("l");
  text-transform: uppercase;
}
.list__description {
  font-size: calc(#{$small-font-size} + 2px);
  line-height: 1.71;
  letter-spacing: getLetterSpacing("l");
  color: getColor("primary");
}
.list__overlay {
  background-color: getColor("overlay-background");
}
.list__label {
  font-weight: getFontWeight("bold");
  font-size: calc(#{$small-font-size} + 2px);
  line-height: 1.14;
  text-align: center;
  letter-spacing: getLetterSpacing("l");
  text-transform: uppercase;
  color: getColor("light");
}
.list__figure {
  box-shadow: 0px 1px 3px getColor("first-shadow"),
    0px 1px 1px getColor("second-shadow"), 0px 2px 1px getColor("backdrop");
  background-color: getColor("light");
}
.list__name {
  font-weight: getFontWeight("accent");
  font-size: $medium-font-size;
  line-height: 1.19;
  text-align: center;
  letter-spacing: getLetterSpacing("l");
}
.list__position {
  font-size: $medium-font-size;
  line-height: 1.19;
  text-align: center;
  letter-spacing: getLetterSpacing("l");
  color: getColor("primary");
}
.list__social-links {
  color: getColor("links");
  &:hover,
  &:focus {
    background-color: getColor("hover");
    color: getColor("light");
  }
}
.list__icon {
  --color1: currentColor;
  &--color {
    --color2: currentColor;
  }
}
.list__logo {
  border: 1px solid getColor("links");
  color: getColor("links");
  &:hover,
  &:focus {
    color: getColor("hover");
    border: 1px solid getColor("hover");
  }
}
.header {
  border-bottom: 1px solid getColor("border-header");
  filter: drop-shadow(0px 4px 4px getColor("shadow-section"));
}
.logo__link,
.logo-footer__link {
  font-family: $logo-font-family;
  font-weight: getFontWeight("bold");
  font-size: calc(#{$large-font-size} + 6px);
  line-height: 1.19;
  letter-spacing: getLetterSpacing("l");
  text-decoration: none;
  color: getColor("dark");
  &--blue {
    color: getColor("hover");
  }
}
.logo-footer__link {
  color: getColor("light");
}
.active {
  color: getColor("hover");
  &::after {
    background-color: getColor("hover");
  }
}
.nav__link {
  font-weight: getFontWeight("accent");
  font-size: calc(#{$small-font-size} + 2px);
  line-height: 1.14;
  letter-spacing: getLetterSpacing("m");
  text-decoration: none;
  color: getColor("main");
  &:hover,
  &:focus {
    color: getColor("hover");
  }
}
.contact__link {
  font-weight: getFontWeight("accent");
  font-size: calc(#{$small-font-size} + 2px);
  line-height: 1.14;
  letter-spacing: getLetterSpacing("m");
  color: getColor("primary");
  text-decoration: none;
  &:hover,
  &:focus {
    color: getColor("hover");
  }
}
.contact__icon-envelope,
.contact__icon-smartphone {
  --color5: currentColor;
}
.footer {
  background-color: getColor("dark-background");
}
.address__street {
  font-style: normal;
  font-size: calc(#{$small-font-size} + 2px);
  line-height: 1.71;
  letter-spacing: getLetterSpacing("l");
  color: getColor("light");
}
.address__mail,
.address__phone {
  font-style: normal;
  font-size: calc(#{$small-font-size} + 2px);
  line-height: 1.71;
  letter-spacing: getLetterSpacing("l");
  text-decoration: none;
  color: getColor("contact-footer");
  &:hover,
  &:focus {
    color: getColor("hover");
  }
}
.social-links {
  &__heading {
    font-weight: getFontWeight("bold");
    font-size: calc(#{$small-font-size} + 2px);
    line-height: 1.14;
    letter-spacing: getLetterSpacing("l");
    text-transform: uppercase;
    color: getColor("light");
  }
  &__background {
    background-color: getColor("background-social-links");
    color: getColor("light");
    &:hover,
    &:focus {
      background-color: getColor("hover");
      color: getColor("light");
    }
  }
  &__icon {
    --color1: currentColor;
  }
}
.form-footer {
  &__heading {
    font-weight: getFontWeight("bold");
    font-size: calc(#{$small-font-size} + 2px);
    line-height: 1.14;
    letter-spacing: getLetterSpacing("l");
    text-transform: uppercase;
    color: getColor("light");
  }
  &__input {
    border: 1px solid getColor("border-input-footer");
    box-shadow: 0px 4px 4px getColor("shadow-button");
    background-color: transparent;
    &::placeholder {
      font-size: $medium-font-size;
      line-height: 1.25;
      letter-spacing: getLetterSpacing("l");
      color: getColor("contact-footer");
    }
  }
  &__button {
    font-weight: getFontWeight("bold");
    font-size: $medium-font-size;
    line-height: 1.88;
    text-align: center;
    letter-spacing: getLetterSpacing("xl");
    color: getColor("light");
    background-color: getColor("hover");
    box-shadow: 0px 4px 4px getColor("shadow-button");
  }
}
.filters__button {
  font-family: $main-font-family;
  font-weight: getFontWeight("accent");
  font-size: $medium-font-size;
  line-height: 1.63;
  text-align: center;
  letter-spacing: getLetterSpacing("l");
  color: getColor("main");
  background-color: getColor("light-background");
  &:hover,
  &:focus {
    background-color: getColor("hover");
    color: getColor("light");
    box-shadow: 0px 3px 1px getColor("border-button"),
      0px 1px 2px getColor("shadow-filters-button"),
      0px 2px 2px getColor("first-shadow");
  }
}
.grid {
  &__card {
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px getColor("first-shadow"),
        0px 4px 4px getColor("shadow"), 1px 4px 6px getColor("shadow-card");
    }
  }
  &__border {
    border-right: 1px solid getColor("border-text");
    border-bottom: 1px solid getColor("border-text");
    border-left: 1px solid getColor("border-text");
  }
  &__title {
    font-size: calc(#{$medium-font-size} + 2px);
    line-height: 2;
    letter-spacing: getLetterSpacing("xl");
  }
  &__category {
    font-size: $medium-font-size;
    line-height: 1.88;
    letter-spacing: getLetterSpacing("l");
    color: getColor("primary");
  }
}
.overlay {
  background-color: getColor("overlay-card");
  &__text {
    font-size: calc(#{$medium-font-size} + 2px);
    line-height: 1.55;
    letter-spacing: getLetterSpacing("l");
    color: getColor("light");
  }
}
